@page "/edit/item"

@using vMake.Components.ItemEditor


<div style="display: flex; flex-direction: column; gap: 1rem">
    <div style="display: flex; flex-direction: row; gap: 0.5rem">
        <label style="display: flex; flex-direction: column">
            <span>Entry</span>
            <InputNumber @bind-Value="Entry" placeholder="Enter entry" />
        </label>

        <label style="display: flex; flex-direction: column">
            <span>Patch</span>
            <InputNumber @bind-Value="Patch" placeholder="Enter patch" />
        </label>

        <button @onclick="NavigateToProperRoute" style="align-self: end">Edit</button>
    </div>

    <span style="font-weight: bold; font-size: 1rem">or</span>

    <div style="display:flex; flex-direction: column; gap: 0.5rem">
        <label style="display: flex; flex-direction: column">
            <span>Import Base64 String</span>
            <InputText @bind-Value="Import" placeholder="Enter base64 string" />
        </label>

        <button @onclick="NavigateToProperRoute">Import</button>
    </div>
</div>

@if (!string.IsNullOrWhiteSpace(Error))
{
    <span class="alert-danger">@Error</span>
}