@page "/edit/item"

@using vMake.Components.ItemEditor

<h3>Edit</h3>

<div style="display: flex; flex-direction: column; gap: 0.5rem">
    <div style="display: flex; flex-direction: column; gap: 0.5rem; flex-wrap: wrap">
        <label style="display: flex; flex-direction: column">
            <span>Entry</span>
            <InputNumber @bind-Value="Entry" placeholder="Enter entry" class="vmake-input" />
        </label>

        <label style="display: flex; flex-direction: column">
            <span>Patch</span>
            <InputNumber @bind-Value="Patch" placeholder="Enter patch" class="vmake-input" />
        </label>

        <button @onclick="HandleEntryPatch" class="vmake-button-primary">Edit</button>
    </div>

    <span style="font-weight: bold; font-size: 1rem">or</span>

    <div style="display:flex; flex-direction: column; gap: 0.5rem">
        <label style="display: flex; flex-direction: column">
            <span>Import Base64 String</span>
            <InputText @bind-Value="Import" name="vmake-item-import" placeholder="Enter base64 string" class="vmake-input" />
        </label>

        <button @onclick="HandleBase64" class="vmake-button-primary">Import</button>
    </div>
</div>

@if (!string.IsNullOrWhiteSpace(Error))
{
    <span class="alert-danger">@Error</span>
}