@page
@model IndexModel
@{
    ViewData["Title"] = "Create Item";
}

<form class="vmake-form" method="POST">
    <div class="vmake-form-item">
        <label class="vmake-form-item-label" for="Entry">Entry Id</label>
        <input class="vmake-input" type="text" name="Entry"/>
    </div>

    <div class="vmake-form-item">
        <button class="vmake-button-primary" type="submit">Create</button>
    </div>

    @if (this.Model.Error is not null)
    {
    <div class="vmake-form-item">
        <span class="vmake-alert-error">@this.Model.Error</span>
    </div>
    }
</form>