.sidebar-nav {
    display: flex;
    flex-direction: column;

    padding: 1rem;

    gap: 0.5rem;

    background-color: rgb(35, 35, 35);

    border-right: 1px solid rgb(60, 60, 60);
}

.sidebar-nav-item {

}

.sidebar-navlink {
    display: flex;
    flex-direction: row;

    gap: 0.5rem;

    color: white;
    text-decoration: none;

    padding: 1rem;
}
.sidebar-navlink.active {
    background-color: rgb(60, 60, 60);
    border-radius: 0.25rem;
}

.sidebar-navlink-icon {

}

.sidebar-navlink-text {

}

@media (max-width: 600px) {
    .sidebar-navlink-text {
        display: none;
    }
}