html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

    color: white;
    background-color: rgb(31, 31, 31);
}

body {
    display: flex;
    flex-direction: column;

    min-height: 100vh;

    margin: 0;
}
