html {
  font-size: 14px;

  background-color: rgb(15, 15, 15);
}

.navbar {
    background-color: rgb(20, 20, 20);
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;

  background-color: rgb(15, 15, 15);
}

footer {
    background-color: rgb(20, 20, 20);
}

.vmake-form {
    display: flex;
    flex-direction: column;

    gap: 0.5rem;
}

.vmake-form-item {
    display: flex;
    flex-direction: column;

    gap: 0.1rem;
}
.vmake-form-item-group {
    display: flex;
    flex-direction: row;

    padding: 0.25rem;

    flex-wrap: wrap;

    gap: 1rem;
}
.vmake-form-item-group-item {
    flex: 1;

    display: flex;
    flex-direction: column;

    background-color: rgba(20, 20, 20);

    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 5px;

    padding: 0.25rem;
}
.vmake-form-item-label {
    font-weight: 600;
    font-size: 1.15rem;
}

.vmake-tooltip {
    display: flex;
    flex-direction: column;

    border: 1px solid #969B96;
    border-radius: 5px;

    word-wrap: anywhere;

    max-width: 300px;
    height: fit-content;

    color: white;
    background-color: rgba(0, 0, 0, 0.75);

    padding: 0.5rem;

    font-family: Verdana, "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.vmake-panel-h {
    display: flex;
    flex-direction: row;

    gap: 0.5rem;
}

.vmake-input {
    color: white;
    background-color: rgb(30, 30, 30);

    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 5px;

    padding: 0.25rem;
}
.vmake-select {
    color: white;
    background-color: rgb(30, 30, 30);

    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 5px;

    padding: 0.25rem;
}

.vmake-button-primary {
    color: white;
    background-color: rgb(30, 30, 30);

    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 5px;

    padding: 0.25rem;

    transition: background-color 0.5s;
}
.vmake-button-primary:hover {
    background-color: rgb(0, 128, 255);
}
.vmake-button-primary:active {
    background-color: rgb(0, 90, 200);
}

.hide {
    display: none;
}