@page "/create/item"

<h3>Create</h3>

<div style="display: flex; flex-direction: column; gap: 0.5rem">
    <label style="display: flex; flex-direction: column">
        <span>
            Entry
        </span>
        <InputNumber @bind-Value="Entry" class="vmake-input"/>
    </label>

    <label style="display: flex; flex-direction: column">
        <span>Patch</span>
        <InputNumber @bind-Value="Patch" class="vmake-input"/>
    </label>

    <button class="vmake-button-primary" @onclick="CreateItemAsync">Create</button>

    @if (!string.IsNullOrWhiteSpace(this.Error))
    {
        <span class="vmake-alert-error">@this.Error</span>
    }
</div>
