@page "/create/item"

<h3>Create</h3>

<form class="vmake-form" method="POST" @onsubmit="OnPostAsync" @formname="form-item-create">
    <AntiforgeryToken/>

    <div class="vmake-form-item">
        <label>
            Entry <InputNumber @bind-Value="Entry"/>
        </label>
    </div>

    <div class="vmake-form-item">
        <label>
            Patch <InputNumber @bind-Value="Patch" />
        </label>
    </div>

    <div class="vmake-form-item">
        <button class="vmake-button-primary" type="submit">Create</button>
    </div>

    @if (!string.IsNullOrWhiteSpace(this.Error))
    {
        <div class="vmake-form-item">
            <span class="vmake-alert-error">@this.Error</span>
        </div>
    }
</form>
